Butthesda/packages/
Butthesda/Butthesda/packages/
Butthesda/Butthesda/bin/
Butthesda/Butthesda/Butthesda_TemporaryKey.pfx
Butthesda/Butthesda/obj/
Butthesda/Butthesda/publish/
Butthesda/Butthesda/obj/