<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Butthesda.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Namotion.Reflection" publicKeyToken="c2f9c3bdfae56102" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.12.0" newVersion="1.0.12.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Butthesda.Properties.Settings>
      <setting name="GamePath_Skyrim" serializeAs="String">
        <value />
      </setting>
      <setting name="GamePath_SkyrimSe" serializeAs="String">
        <value />
      </setting>
      <setting name="GamePath_Fallout4" serializeAs="String">
        <value />
      </setting>
      <setting name="Show_notifications" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Show_warnings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Show_errors" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Show_debug_info" serializeAs="String">
        <value>True</value>
      </setting>
    </Butthesda.Properties.Settings>
  </userSettings>
</configuration>